通用代收付-报文处理前置子系统/src/cn/szboc/uniformproxy/remoteinvoke/batch/xsd/recv/ECES_批量扣款接收回盘请求_0020.xsd

<?xml version="1.0" encoding="GBK" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="oes_batch_no" type="xs:string"/>
							<xs:element name="trade_type" type="xs:string"/>
							<xs:element name="batch_no" type="xs:string"/>
							<xs:element name="custom_code" type="xs:string"/>
							<xs:element name="pay_channel" type="xs:string"/>
							<xs:element name="act_mode" type="xs:string"/>
							<xs:element name="term_flag" type="xs:string"/>
							<xs:element name="trans_net" type="xs:string"/>
							<xs:element name="act_no" type="xs:string"/>
							<xs:element name="curr_code" type="xs:string"/>
							<xs:element name="total_count" type="xs:int"/>
							<xs:element name="total_amt" type="xs:double"/>
							<xs:element name="recv_ip" type="xs:string"/>
							<xs:element name="recv_port" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="body">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="record">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="seq_no" type="xs:string"/>
										<xs:element name="pay_act" type="xs:string"/>
										<xs:element name="pay_name" type="xs:string"/>
										<xs:element name="payee_act" type="xs:string"/>
										<xs:element name="payee_name" type="xs:string"/>
										<xs:element name="payee_bank" type="xs:string"/>
										<xs:element name="payee_bank_no" type="xs:string"/>
										<xs:element name="pay_money" type="xs:double"/>
										<xs:element name="use_item" type="xs:string"/>
										<xs:element name="msg_flag" type="xs:string"/>
										<xs:element name="id_card" type="xs:string"/>
										<xs:element name="extend_value" type="xs:string"/>
										<xs:element name="rtn_code" type="xs:string"/>
										<xs:element name="rtn_msg" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
