通用代收付-报文处理前置子系统/src/cn/szboc/uniformproxy/remoteinvoke/batch/xsd/send/ECES_批量扣款接收回盘回执_0020.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="trade_type" type="xs:string"/>
							<xs:element name="rtn_code" type="xs:string"/>
							<xs:element name="rtn_msg" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
